body{
    background-color: white;
}
button{
    padding:0.5em;
    width: 70vmin;
    border-radius: 22px;
    background-color: #FFCD38;
    border: 1px solid #FFCD38;
    transform: translate(0%, 0%);
    transition: .5s cubic-bezier(.52,1.65,1,1.31);
}
button:hover{
    letter-spacing: 1px;
    background-color: #FF8D29;
    border: 1px solid #FF8D29;
    color: white;
    width: 71vmin;
    transform: translate(0%, 0%);
}